.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
