@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --color-primary: #9eb384;
  --color-primary-light: #cedebd;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background: #faf1e4;
}
* {
  margin: 0;
  padding: 0;
}
